body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#calculator_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 7px;
    border: 4px solid brown;
    border-radius: 15px;
    height: auto;
    background-color: antiquewhite;
}

#display_outer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    text-align: right;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: grey;
}

#display_inner {
    display:flex;
    justify-content: end;
    align-items: center;
    width: 80%;
    height: 80%;
    border: 0px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-size: 23px;
    overflow: hidden;
}

#rob_text {
    display: flex;
    margin-left: auto;
    width: 150px;
    justify-content: center;
    align-items: center;
    font-style: italic; /* Makes the text italic */
    font-family: "Times New Roman", Georgia, serif; /* Classic serif fonts */
    font-size: 18px; /* Adjust size for better readability */
    line-height: 1.6; /* Slightly increased line height for elegance */
    color: #333; /* A dark grey color for a softer, classic look */
}



#clear_button {
    display: flex;
    width: 210px;
    align-items: center;
    height: fit-content;
    margin-bottom: 10px;
}

#side_by_side {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
}



#numbers_container {
    display: flex;
    flex-direction:  row-reverse;
    flex-wrap: wrap;
    width: 150px;
    height: 150px;

    
}



#operators_container {
    display: wrap;
    flex-direction: column;
    width: 50px;
}

button {
    width: 50px;
    height: 50px;
    padding: 0px;
    font-size: large;
    border-radius: 5px;
    background-color: rgb(161, 84, 56);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Basic shadow */
    cursor: pointer; /* Makes the button look clickable */
}

button#clear {
    height: 20px;
    font-size: 13px;
    background-color: aliceblue;
}

button.equals {
    order: 2;
    background-color: grey;
}

.number_0 {
    width: 100px;
    margin-right: auto;
}

